<!DOCTYPE html>

.container {
  max-width: none !important;
  width: 980px;
}

.jumbotron{
  background-color: #EEEEEE;
  padding-bottom: 80px;
  padding-top: 80px;
}

.mt60{
	margin-top: 60px;
}

.mt20{
	margin-bottom: 20px;
}
