{% extends "base.html" %}

{% block title %}
<title>{{ me.Name }} - liNK</title>
<style type="text/css">
  .container {
    max-width: none !important;
    width: 980px;
  }
  .mt100{
    margin-top: 100px;
  }
  .block{
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .mt60{
    margin-top: 60px;
  }
</style>
{% end %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-3 mt100">
      <div data-spy="affix">
        <center>
        <img src="/static/img/1.png" alt="..." class="img-circle" width="150" height="150">
        <hr>
        <p><h2>{{ me.Name }}</h2></p>
        {% if introList %}
          {% for intro in introList %}
              <h5 class="text-muted">{{ intro.Intro }}</h5>
          {% end %}
        {% end %}     
        <hr>
        <p >{{ me.Email }}</p>
        <p >于 2013.03.23 加入</p>
        <a href="/people/{{ me.ID }}" role="button" class="btn btn-primary btn-xs btn-block">返回个人主页</a> 
        <hr>
        <table>
        <tr>
        <td class="text-muted" align="center">关注了</td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td class="text-muted" align="center">关注者</td>
        </tr>
        <tr>
        <td align="center"><a href="/people/{{ me.ID }}/following">{{ followInfo['following'] }} 人</a></td>
        <td>&nbsp;</td>
        <td align="center"><a href="/people/{{ me.ID }}/followers">{{ followInfo['followers'] }} 人</a></td>
        </tr>
        </table>
        <hr>
        <p class="text-muted">个人主页被浏览 53 次</p>
        </center>
      </div>
    </div>

    <div class="col-xs-9 mt100">
      <ul class="nav nav-tabs nav-justified">
          <li><a href="/settings/account">帐号</a></li>
          <li class="active"><a href="/settings/password">密码</a></li>
          <li><a href="/settings/information">信息</a></li>
        </ul>
            {% if message %}
            <br>
              {% for msg in message %}
                <div class="alert alert-info alert-dismissable">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  {{ msg }}
                </div>
              {% end %}
            {% end %}
        <form class="form-horizontal mt60" role="form" method="post" action="">
          <div class="form-group">
            <label for="inputName" class="col-sm-2 control-label">当前密码</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" name="currentPassword" placeholder="当前密码">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">新的密码</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" name="newPassword" placeholder="新的密码">
            </div>
          </div>
          <hr>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary">保存</button>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>
{% end %}